*{
	padding: 0;
	margin: 0;
}

body{
	margin: 0;
	font-family: helvetica;
	fonr-size: 15px;
	color: #e67300;
	line-height: 1.6;
}

#showcase{
	background-image: url('../img/landing.jpg');
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 30px;
}

#showcase h1{
	font-size: 55px;
	line-height: 1.0;
}

#showcase p {
	font-size: 23px;
}

#showcase .button{
	font-size: 18px;
	text-decoration: none;
	color: #003366;
	border: #80bfff 2px solid;
	padding: 10px 20px;
	border-radius: 10px;
	background-color: #e67300;
	margin: 25px;
}

#showcase .button:hover{
	background: #80bfff;


}



